<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3F - 計算機</title>
  <link rel="stylesheet" href="scss/all.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
    integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
    crossorigin='anonymous' />
</head>

<body>
  <div id="app">
    <div class="calculator" @click="focus">
      <div class="calculator-screen">
        <span class="calculator-text" ref="calculator-text">{{calculatorText}}</span>
        <span class="calculator-result" :style="{'font-size':`${size}px`}" ref="calculator-result" >
          {{currentNum==='' && this.calculatorResult !== "NaN"&& this.calculatorResult !== "Infinity" ?0:calculatorResult}}
        </span>
      </div>
      <div class="calculator-btn">
        <div class="numbers">
          <button class="num" 
          v-for="number in numberGroup" :key="number" 
          @click="selectNum(number)">{{number}}</button>
        </div>
        <div class="operators-side" >
          <button class="opeartor" 
          v-for="opeartor in opeartorGruop" :key="opeartor" 
          @click="selectOperator(opeartor)"
          >{{opeartor}}</button>
        </div>
        <div class="operators-bottom">
          <button @click="clearAll()">AC</button>
          <button @click="backSpace()"><i class="fas fa-delete-left"></i></button>
          <button @click="equal()" ref="equal">=</button>
        </div>
      </div>
    </div>
    <input class="inputCalculator" ref="number" type="text" @keydown="keyDown($event)" style="opacity: 0;">
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.34-beta.1/vue.global.min.js'></script>
  <script src="index.js"></script>
</body>

</html>